<a href="https://colab.research.google.com/github/seungwon0601/fastcampus_lop/blob/master/coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1. [Data Selection and EDA]
==

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('/content/coursea_data.csv')

## Step 1. Data Selection

### Coursera Course Dataset | [Kaggle](https://www.kaggle.com/siddharthm1698/coursera-course-dataset#)
>This dataset contains mainly 6 columns and 890 course data. The detailed description:
1. **course_title** : Contains the course title.
2. **course_organization** : It tells which organization is conducting the courses.
3. **courseCertificatetype** : It has details about what are the different certifications available in courses.
4. **course_rating** : It has the ratings associated with each course.
5. **course_difficulty** : It tells about how difficult or what is the level of the course.
6. **coursestudentsenrolled** : It has the number of students that are enrolled in the course.

## Step 2. Data Lookup

In [6]:
# columns를 조회합니다.
data.head()

   Unnamed: 0  ... course_students_enrolled
0         134  ...                     5.3k
1         743  ...                      17k
2         874  ...                     130k
3         413  ...                      91k
4         635  ...                     320k

[5 rows x 7 columns]

In [11]:
# 분석에 필요한 데이터만 요약합니다.
data[['course_title','course_rating','course_difficulty','course_students_enrolled']]

                                          course_title  ...  course_students_enrolled
0    (ISC)² Systems Security Certified Practitioner...  ...                      5.3k
1    A Crash Course in Causality:  Inferring Causal...  ...                       17k
2                       A Crash Course in Data Science  ...                      130k
3                              A Law Student's Toolkit  ...                       91k
4                  A Life of Happiness and Fulfillment  ...                      320k
..                                                 ...  ...                       ...
886                         Программирование на Python  ...                       52k
887               Психолингвистика (Psycholinguistics)  ...                       21k
888       Разработка интерфейсов: вёрстка и JavaScript  ...                       30k
889                            Русский как иностранный  ...                      9.8k
890      Финансовые инструменты для частного инвестора  ...                       38k

[891 rows x 4 columns]

## Step 3. Create DataFrame

In [13]:
# 데이터프레임을 만들어봅니다.
df = pd.DataFrame(data[['course_title','course_rating','course_difficulty','course_students_enrolled']])
df

                                          course_title  ...  course_students_enrolled
0    (ISC)² Systems Security Certified Practitioner...  ...                      5.3k
1    A Crash Course in Causality:  Inferring Causal...  ...                       17k
2                       A Crash Course in Data Science  ...                      130k
3                              A Law Student's Toolkit  ...                       91k
4                  A Life of Happiness and Fulfillment  ...                      320k
..                                                 ...  ...                       ...
886                         Программирование на Python  ...                       52k
887               Психолингвистика (Psycholinguistics)  ...                       21k
888       Разработка интерфейсов: вёрстка и JavaScript  ...                       30k
889                            Русский как иностранный  ...                      9.8k
890      Финансовые инструменты для частного инвестора  ...                       38k

[891 rows x 4 columns]

In [15]:
df.columns=['title', 'rating', 'level', 'enrolled']
df

                                                 title  ...  enrolled
0    (ISC)² Systems Security Certified Practitioner...  ...      5.3k
1    A Crash Course in Causality:  Inferring Causal...  ...       17k
2                       A Crash Course in Data Science  ...      130k
3                              A Law Student's Toolkit  ...       91k
4                  A Life of Happiness and Fulfillment  ...      320k
..                                                 ...  ...       ...
886                         Программирование на Python  ...       52k
887               Психолингвистика (Psycholinguistics)  ...       21k
888       Разработка интерфейсов: вёрстка и JavaScript  ...       30k
889                            Русский как иностранный  ...      9.8k
890      Финансовые инструменты для частного инвестора  ...       38k

[891 rows x 4 columns]

## Step 4. Preprocessing